CONFIG_SLVC_DMA_PROFILE_ID="slvc_dma_512_rx_async64"
CONFIG_SLVC_DMA_V1_512=y
CONFIG_SLVC_DMA_TOP="frame_dma_rx_top"
CONFIG_SLVC_DMA_CLOCK_PERIOD_NS="5.000"
CONFIG_SLVC_DMA_MEM_CLOCK_PERIOD_NS="5.000"
CONFIG_SLVC_DMA_RX_WIDE_PAYLOAD=n
CONFIG_SLVC_DMA_RX_MEM_ASYNC64=y
CONFIG_SLVC_DMA_RX_MEM_ASYNC512=n
CONFIG_SLVC_DMA_UDP_IPV4_ADAPTER=n
CONFIG_SLVC_DMA_SIM=y
CONFIG_SLVC_DMA_FPGA_OOC=y
CONFIG_SLVC_DMA_ADAPTER_DC_OOC=n
CONFIG_SLVC_DMA_RX_WRITER_DC_OOC=y
CONFIG_SLVC_DMA_VIVADO_ASYNC64_2022_2_OOC=y
CONFIG_SLVC_DMA_N45_C2_REG_AUDIT=n
CONFIG_SLVC_DMA_N45_C2_REG_SIM=n
CONFIG_SLVC_DMA_N45_C2_REG_DC=n
CONFIG_SLVC_DMA_N45_C2_REG_PNR=n
CONFIG_SLVC_DMA_N45_C2_REG_STA=n
